@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.newWarehouse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #bdc5d5;

  &__section {
    display: flex;
    padding: 1rem;
    align-items: flex-end;

    @include tablet {
      padding: 0.8rem 36px;
    }
  }

  &__h1 {
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 1rem;
  }
}
