@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  //   font-size: 16px;
  //   color: black // fill in please
  //   font-family: // fill in please with correct font family and deprecation
  //   background-color: // fill in please
}

body {
  margin: 0 auto;
}

table,
th,
td {
  border: 0;
  border-collapse: collapse;
}
