@font-face {
  font-family: "TitilliumWeb";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web", "Courier New", monospace;
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "TitilliumWeb";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/TitilliumWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "TitilliumWeb";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap')