@font-face {
   font-family: 'Titillium Web', Arial, Helvetica, sans-serif, sans-serif;
   font-style: normal;
    font-weight: 400;
    src:  url('../../assets/fonts/TitilliumWeb-Regular.ttf') format('ttf');
    
}

@font-face {
    font-family: 'Titillium Web' Arial, Helvetica, sans-serif, sans-serif;
    font-style: normal;
     font-weight: 600;
     src:  url('../../assets/fonts/TitilliumWeb-SemiBold.ttf') format('ttf');
     
 }