$white: #fff; // sample only - to be replaced with the actual colours
$black: #000; // sample only - to be replaced with the actual colours

$tablet-breakpoint: 48rem; // sample only - to be replaced with the actual breakpoints
$desktop-breakpoint: 64rem; // sample only - to be replaced with the actual breakpoints
