@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.deleteWarehouse {
  width: 100%;
  padding-right: 1rem;
  border-radius: 4px;

  @include tablet {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.popup-overlay {
  background-color: rgba($color: $instock-black, $alpha: 0.7);
}

.popup {
  background-color: $white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  position: relative;

  @include tablet {
    height: 16.6875rem;
    padding: 0 4rem;
    padding-bottom: 2.5rem;
    margin: 0 3rem;
  }

  @include desktop {
    padding-bottom: 3rem;
    width: 90vh;
    height: fit-content;
  }

  &__close {
    width: 2rem;
    height: 2rem;
    margin-bottom: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: $white;
    border: none;
  }

  &__flex {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 2rem;
    margin: 2rem 0;
  }

  &__content {
    text-align: left;
    margin-bottom: 2.4rem;
    width: 80%;
    font-size: 1.1rem;
    line-height: 2rem;
  }

  &__actions {
    display: flex;
    justify-content: center;

    @include tablet {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &__button--cancel,
  &__button--delete {
    border-radius: 20px;
    font-size: 0.8125rem;
    cursor: pointer;
    padding: 0.5rem;
    height: 2.25rem;
    width: 100%;
    margin-left: 1rem;

    @include tablet {
      width: 5rem;
      height: 2.375rem;
    }

    &:hover {
      background-color: $instock-black;
    }
  }

  &__button--cancel {
    background-color: $white;
    border: 1px solid $cloud;
  }

  &__button--delete {
    color: $white;
    background-color: $red;
    border: 1px solid $red;
    margin-right: 1rem;
  }
}
