@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.warehouse {
    &__container {
      border-bottom: 0.1rem solid $cloud;
      padding: 0 1.5rem;
      display: flex;
      flex-wrap: wrap;
  
      @include tablet {
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 1rem 2rem;
        min-height: 4.75rem;
      }
  
      @include desktop {
        padding: 1rem 2.5rem;
      }
    }
  
    &__stacked-header {
      color: $slate;
      text-transform: uppercase;
      margin-top: 1rem;
  
      @include tablet {
        display: none;
      }
    }
  
  
    &__link-anchor {
      color: $instock-indigo;
      text-decoration: none;
  
      @include tablet {
      }
    }
  
    &__text {
      display: flex;
      flex-wrap: wrap;
      @include tablet {
        width: 80%;
      }
    }
  
    &__name {
      width: 50%;
      display: flex;
      flex-direction: column;
      order: -2;
      gap: 0.25rem;
  
      @include tablet {
        width: 50%;
        flex-direction: row;
        align-items: center;
      }

      &-link {
        display: flex;
        gap: 0.25rem;
      

        &-image {
          width: 1.25rem;
        }
      }
    }
  
    &__address {
      width: 50%;
      display: inline-block;
  
      @include tablet {
        width: 45%;
        display: flex;
        align-items: center;
      }
  
      @include desktop {
        width: 60%;
      }
    }
  
    &__contact {
      width: 50%;
      display: inline-block;
      order: -1;
  
      @include tablet {
        width: 45%;
        display: flex;
        align-items: center;
        order: 0;
      }
  
      @include desktop {
        width: 40%;
      }
    
  
        &-group {
          width: 50%;
          display: inline-block;
      
          @include tablet {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
      
          @include desktop {
            width: 50%;
          }
        }
      }
  
    &__address-text {
      @include tablet {
        padding-left: 1rem;
      }
    }
  
    &__actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
  
      @include tablet {
        width: 20%;
        justify-content: flex-start;
        align-items: center;
      }
    }
  
    &__icon {
      width: 1.5rem;
      margin: 1rem 0;
  
      @include tablet {
        margin: 0;
      }
    }
  }