@use "../../styles/partials/variables.scss" as *; 
@use "../../styles/partials/_globals.scss" as *;
@use "../../styles/partials/_typography.scss" as *;
@use "../../styles/partials/mixins.scss" as *; 

.header{
    background-color: $graphite;
    padding-left: 1rem; 
    padding-right:1rem; 
    padding-top: 1.5rem; 
    padding-bottom: 1rem; 
    display: flex;
    flex-direction: column;
    @include tablet {
        padding-left: 2rem; 
        padding-right:2rem; 
        padding-top: 2rem; 
        padding-bottom: 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    @include desktop{
        padding-left: 3.95rem; 
        padding-right:3.95rem; 
        padding-top: 2rem; 
        padding-bottom: 2rem;
    }

    &__text{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__warehouse{
        color:$cloud; 
        padding-left:2rem; 
        padding-right: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-decoration:none; 
        margin:0; 
        font-size:0.8rem ;
        line-height:1.25rem ;
        @include tablet{
            font-size: 0.88rem;
            line-height: 1.38rem;
        }
    }

    &__inventory{
        color:$cloud; 
        padding-left:2rem; 
        padding-right: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-decoration:none; 
        margin:0; 
        font-size:0.8rem ;
        line-height:1.25rem ;
        @include tablet{
            font-size: 0.88rem;
            line-height: 1.38rem;
        }
    }

    &__hover:hover{
       color: $white;
        text-decoration: underline;
    }
}

a{ //using this to target the automatic link styling on Link elements
//that is difficult to override in the above styling
    text-decoration: none;
}

.active{ //this is targetting the activeClassName=active element. 
    background-color: $instock-black;
    border-radius: 2rem;
    color: $white;    
}
  
  