@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.warehouse-list {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: pink;
  }
}

.warehouse-list__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: pink;
}

