.page-container {
  position: relative;
  top: -4rem;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(100% - 2rem);
  background-color: #ffffff;
  border-radius: 4px;
}

.page-container::before {
content: "";
position: absolute;
z-index: -1;
height: 100%;
width: 100%;
border-radius: 4px;
box-shadow: 0 0 10px #BDC5D5;
}